.widget-wrapper {
	position: absolute;
	bottom: 0;
	display: flex;
	padding: 16px;
	gap: 12px;
	flex-direction: column;
	right: 0;
	align-items: flex-end;
	z-index: 1000;
	max-height: 100vh;
	overflow: hidden;
}